

.myCustom h1{
font-family: Arial, Helvetica, sans-serif;
font: Arial;
background-color: #4aaaa5;
color: white;
font-size: 30px;
font-weight: lighter;
float: left;
padding: 18px;

}

.myCustom{
width: 960px;
height: 66px;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #cccccc;
}


a:link{
text-decoration: none;
font-size: 16px;
font-weight: lighter;
float: right;
color: #777777;
font-family: Arial, Helvetica, sans-serif;
font: Arial;
padding: 8px;
line-height: 66px;

}

a:hover{
color: #4aaaa5;
}

body{
width: 960px;
height:960px;
margin: auto;
background-image: url(what-the-hex.png);
}
